body {
    margin: 0;
}

.menu {
    display: flex;
    align-items: center;
    height: 92px;
    padding: 0px 40px 0px 40px;
    box-shadow: rgb(0 0 0 / 13%) 0 4px 16px;
}

.menu__burger {
    display: none;
}

.menu__logo {
    padding: 0px 40px 0px 0px;
}

.menu__logo-link {
    display: block;
    background-image: url('/img/logo.png');
    background-size: contain;
    height: 64px;
    width: 220px;
}

.menu__nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.menu__nav-item:first-child {
    padding-left: 0;
}

.menu__nav-item:last-child {
    padding-right: 0;
}

.menu__nav-item {
    padding-left: 15px;
    padding-right: 15px;
}

.menu__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    /* FLEX. THINK ABOUT IT*/
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #222222;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;
}

.menu__nav-link:hover {
    color: #2971f5;
}

/* .menu__nav-item.submenu .menu__nav-link {
    display: flex;
    align-items: center;
} */

.menu__nav-link-arrow {
    /* display: inline-block;
    vertical-align: middle; */
    margin-left: 6px;
    /* position: relative; */
    width: 6px;
    border-color: inherit;
}

.menu__nav-link-arrow:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3px 0 3px;
    margin-top: 5px;
    display: block;
    /* position: absolute; */
    /* margin-top: 5px; */
    /* top: 45%;
    left: 0; */
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-color: transparent transparent transparent transparent;
    border-top-color: inherit;
}

.menu__submenu-list {
    display: none;
}

.menu__social-links {
    display: flex;
    margin-left: 40px;
}

.menu__social-link {
    display: block;
    width: 30px;
    height: 30px;
}

.menu__social-links-item {
    padding: 0 5px;
    border-radius: 100%;
}

.menu__login-button-wrap {
    color: #2971f5;
    background-color: #ebebeb;
    border: 0 none;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menu__login-button-wrap:hover {
    color: #f2f7fe;
    background-color: #2971f5;
}

.menu__login-button {
    display: flex;
    align-items: center;
    height: 40px;
    /* font */
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media (max-width: 1200px) {
    .menu {
        padding: 0px 20px 0px 20px;
        box-shadow: rgb(0 0 0 / 13%) 0 4px 16px;
    }
    .menu__logo {
        padding: 0px 20px 0px 0px;
    }
    .menu__logo-link {
        display: block;
        background-image: url('/img/logo.png');
        background-size: contain;
        height: 58px;
        width: 200px;
    }
    .menu__nav-item {
        padding-left: 10px;
        padding-right: 10px;
    }
    .menu__social-links {
        margin-left: 20px;
    }
    .menu__login-button-wrap {
        margin-left: 20px;
    }
}

@media (max-width: 1060px) {
    .menu__nav-link {
        font-size: 14px;
    }
    .menu__social-link {
        width: 26px;
        height: 26px;
    }
    .menu__social-link svg {
        width: 26px;
        height: 26px;
    }
    .menu__login-button-wrap {
        padding-left: 26px;
        padding-right: 26px;
    }
    .menu__login-button {
        height: 36px;
    }
}

@media (max-width: 980px) {
    .menu {
        flex-direction: column;
        align-items: center;
        height: initial;
        padding: 0px 0px 0px 0px;
        box-shadow: none;
        background: #f2f2f2;
    }
    .menu__burger-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        background: #2971f5;
    }
    .menu__burger {
        /* display: flex; */
        display: block;
        margin: 18px;
        align-self: flex-end;
        /* position: absolute;
        top: 50%; */
        /* margin-top: -10px;
        right: 20px; */
        width: 28px;
        height: 28px;
        -webkit-transform: rotate( 0deg);
        transform: rotate( 0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 1003;
        background: #000;
    }
    .menu__burger span {
        display: block;
        position: absolute;
        width: 100%;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate( 0deg);
        transform: rotate( 0deg);
        transition: .25s ease-in-out;
        height: 3px;
        background-color: #fff;
        top: 13px;
    }
    .menu__burger span:nth-child(1) {
        /* top: 8px; */
        width: 0%;
        left: 50%;
    }
    .menu__burger span:nth-child(2) {
        /* top: 8px; */
        -webkit-transform: rotate( 45deg);
        transform: rotate( 45deg);
    }
    .menu__burger span:nth-child(3) {
        /* top: 8px; */
        -webkit-transform: rotate( -45deg);
        transform: rotate( -45deg);
    }
    .menu__burger span:nth-child(4) {
        /* top: 8px; */
        width: 0%;
        left: 50%;
    }
    .menu__logo {
        padding: 0px 0px 0px 0px;
    }
    .menu__logo-link {
        height: 106px;
        width: 280px;
        background-position: center;
        background-repeat: no-repeat;
    }
    .menu__nav {
        flex-direction: column;
        margin: 0px;
        /* width? */
        /* width: 100%; */
    }
    .menu__nav-item {
        padding: 0px;
        /* width? */
        width: 100%;
    }
    .menu__nav-link {
        height: 32px;
        font-size: 20px;
    }
    .menu__social-links {
        margin-left: 0px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .menu__social-link {
        width: 30px;
        height: 30px;
    }
    .menu__social-link svg {
        width: 30px;
        height: 30px;
    }
    .menu__login-button-wrap {
        margin-left: 0px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 20px;
    }
    .menu__login-button {
        height: 40px;
    }
}

@media (max-width: 640px) {}

@media (max-width: 320px) {}